body{
    margin:0px;
    background:#fff;
}
.header {
    height:46px;
    background:#b4cac8;
    border:1px solid #a5c0bd;
    width:100%;
    margin:0px auto;
}
.header-cont {
    width:100%;
    position:fixed;
    top:0px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #fff;
}
button {
    
}
#links {
    font-size: 20px;
    padding-top: 7px;
    text-align: right;
    padding-right: 20px;
}
#name {
    text-align: left;
    font-size: 30px;
    padding-left: 10px;
    letter-spacing: 2px;
}