body{
    background-color: #b4cac8;
}
#progress_div{
    height: 330px;
    width: 650px;
    background-color: #ffffff;
    margin : 100px auto 0 auto;
}
#message_title{
    font-size: 46px;
    padding: 30px 110px 10px;
}

#bar {
    height: 3px;
    width: 550px;
    background-color: #ffddcc;
    margin: auto;
}
#message {
    padding: 25px 45px;
    font-size: 17px;
}
a:link {
    color: #ffaa80;
    text-decoration: none;
}

a:visited {
    color: #3f8ba6;
    text-decoration: none;
}

a:hover {
    color: #ff7866;
    text-decoration: underline;
}

a:active {
    color: #ffaa80;
    text-decoration: underline;
}